<html>
<head>
    <title>Registration</title>
</head>
<body style="background-color:grey;">
<h1>Register here</h1>
<form action="#" method="post">
    {% csrf_token %}
    <input type="text" name="username" id="username" placeholder="Enter your username"><br>
    <input type="password" name="password" id="password" placeholder="Enter your password"><br>
    <input type="password" name="password2" id="password2" placeholder="Confirm your password"><br>
    <button type="submit">Submit</button>

</form>
</body>
</html>